@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}

#selecciona-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 32px;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.subtitulo {
    color: white;
    font-size: 24px;
}

.tarjetas,
.tarjetasAtaques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 200px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    /*para que el pading no nos moifique el tamño de boton sino que este incluido*/
    border: 2px solid #5C7AEA;
    border-radius: 20px;
    background: #11468f;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

input {
    display: none;
}

input:checked+label {
    /*le agrego la operacion del boton de seleccion a la operacion hermana qu es input*/
    background-color: #5D8BF4;
}

#seleccionar-ataque {
    align-items: center;
    flex-direction: column;
}

.boton-de-ataque {
    background-color: #11468f;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boton-de-ataque:hover {
    background-color: #456a9e;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.16);
}

#mensajes {
    width: 280px;
    background: #eeee;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: transparent;
    color: #11468f;
    font-family: 'Poppins', sans-serif;

}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#vidas-jugador,
#vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataquesJugador,
.ataquesEnemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#verMapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#verMapa button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

@media (max-width: 560px) {

    /*diseño responsivo para diferentes tamaños de pantalla (tamañomaximo de pantalla donde pasa esto*/
    .tarjetas {
        flex-direction: column;
    }

    .tarjetasAtaques {
        flex-direction: column;
    }
}
@media (max-width: 300px) {
#verMapa div{
    display: flex;
    align-items: center;    
    flex-direction: column;
}
}